<div class="container">
    <div class="jumbotron">
        <form [formGroup]="loginForm">
            <div class="image-logo">
                <img src="./../../assets/logo.png">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.email.errors }">
                <div *ngIf="submitted && loginForm.controls.email.errors" class="invalid-feedback">
                    <div *ngIf="loginForm.controls.email.errors.required">Email é obrigatório</div>
                </div>
                <br>
                <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Senha" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }">
                <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
                    <div *ngIf="loginForm.controls.password.errors.required">Senha é obrigatório</div>
                </div>
            </div>
            <div class="btn-access">
                <button type="submit" class="btn btn-primary" (click)="login()">Acessar</button>
            </div>
            <br>
            <br>
            <div *ngIf="userNotFound" class="alert alert-danger" role="alert">
               Usuário não encontrado!
            </div>
            <br>
            <small id="register" class="form-text text-muted">Ainda não possui uma conta? <a class="link" (click)="register()">Cadastre-se.</a></small>
        </form>
    </div> 
</div>

