.container {
    margin-top: 116px;
    width: 40%;
}

.title{
    text-align: center;
}

.link {
    cursor: pointer;
    text-decoration: underline !important;
}

.form-text{
    margin-left: 5.5rem;
}

.btn-access {
    text-align: center;
}

.image-logo{
    text-align: center;
    margin-top: -60px;

}

img {
    height: 150px;
}






