@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #303633 !important;
}

.btn-primary {
    background-color: #303633 !important;
    border-color: #303633 !important;
}

.jumbotron {
    background-color: #ffffff !important;
}