
body {
    background: url(./assets/background-balance-business-583846.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-primary {
    background-color: #4281A4 !important;
    border-color: #4281A4 !important;
}

.jumbotron {
    background-color: #ffffff !important;
}