@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #DBE1E4 !important;
}

.btn-primary {
    background-color: #4281A4 !important;
    border-color: #4281A4 !important;
}

.jumbotron {
    background-color: #ffffff !important;
}